body{
    background:linear-gradient(to bottom right, orange 35% ,white 53% ,green 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card1{
    background-color: rgba(182, 182, 182, 0.411);
}
.py-4 {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.card-header{
    background-color: rgba(255, 209, 134, 0.363);
}
.menumode tr,th,td{
    padding: 20px;

}
.menumode tr:hover{
    background-color: rgba(236, 236, 236, 0.377);
}
.menus{
    
        height: auto;
        /* background-color: rgb(255 ,255 ,135); */
        background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)),url("/images/hd.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 300px;
        padding-bottom: 300px;
    
}
.reserve{
    height: auto;
    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.432)),url("/images/reserved.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 200px;
}
.reservtext{
    /* width: 100%;  */
    text-align: center;
    padding-bottom: 30px; 
    color: white;
    font-size: 25px;
    
}
.reserv_title{
    color: black;
    font-size: 32px;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 4px;
}
.reserve_btn{
    background-color: rgb(58, 58, 58);
    color: white;
    text-transform: uppercase;
    font-size:12px ;
    padding:10px ;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.main_reserve{
    background-color: rgb(187, 228, 208);
    padding-top: 100px;
    padding-bottom: 100px;
}
.rt{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding-top: 70px;
}
.rt_t{
    padding-top:15px ;
    color: gray;
    font-size: 17px;
    padding-bottom: 30px;
}
.rt_img{
    /* height: 80%; */
    width: 100%;
}
.contact_c{
    height: auto;
    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.432)),url("/images/contact-us-customer-support-hotline-people-connect-call-customer-support_36325-1640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 200px;
}
.day{
    color: black;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}
.con_tit{
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.form_time{
    background-color: rgb(205, 221, 206);
    padding-top: 30px;
    padding-bottom: 50px;
}
.startermenu{
    height: auto;
    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)),url("/images/Masala-Papad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 300px;
}
.mainmenu_back{
    height: auto;
    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.281)),url("/images/CLBM-VJPT-FOOD-2174.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 300px;

}
.logs{
    /* height: 100vh; */
    padding-top: 150px;
    padding-bottom: 200px;
}
.dessert{
    height: auto;
    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)),url("/images/eTFRIu4kQ8GD4fqPgtpy_chefs-recipes-Windjammer-Landing-Pineapple-Carpaccio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 300px;

}

.profile_me{
    padding-top: 100px;
    padding-bottom: 50px;
}
.p_name{
    font-weight: 700;
    font-size: 18px;
    padding:5px;
}
.p_ans{
    font-weight: 500;
    font-size: 19px;
}
.ff1{
    background-color: rgba(9, 63, 7, 0.534);
    padding:20px;
}
.modal{
    z-index: 199999;
}
.card-session{
    position: absolute;
    top: 90px;
    right: 30px;
}
.alert-danger{
    color: white;
    background-color: rgb(226, 37, 37);
    border:none;
}