::selection{
    color: black;
    background-color: rgba(163, 199, 91, 0.548);
}
::-webkit-scrollbar{
    width: 12px;
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb{
    background-color: rgba(112, 111, 111, 0.603);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(80, 78, 78, 0.787);
}

.navbar {   
    position: absolute;
    background-color: rgba(0, 0, 0, 0.137);
    width: 100%;  
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.navbar-toggler-icon{
    color: white;
}
.nav-link{
    color: white;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 13px;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.548);
    /* background-color: rgb(162, 223, 152); */
    border-radius: 50%;
    border-color:white ;
    transition: .5s;
}

.bg_content{
    height:100vh;
    background:  linear-gradient(rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.308)),url(../images/best-indian-food.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.c_title{
    color: white;
    font-size: 300%;
    font-weight: 700;
    width: 100%;
    padding-top: 20%; 
    text-align: center;
    text-transform: capitalize;
    /* text-decoration: underline ; */
    letter-spacing: 5px;
    animation: c_tit 2s linear  ;
}
@keyframes c_tit{
    from{
        color: white;
        letter-spacing: 15px;
        opacity: 0;
        
    }
    to{
        
        letter-spacing: 5px;
        color:white;
        opacity: 1;
    }
}

.menu{
    height: auto;
    background-color: rgb(227, 255, 250);    
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu_title{
    width: 100%;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 8px;
    font-weight: 300;
}
.menu_title1 a{
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    text-align:right;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 100;
    float: right;
    color: gray;
    letter-spacing: 5px;
}
.menu_img{
    /* border:1px solid red; */
    height: 333px;
    padding: 10px;
    overflow: hidden;
}
.menu_img img{
    height:100%;
    width:100%;
    object-fit: cover;
    /* transform-origin:  65% 75%; */
    transition: transform .5s;

}
.menu_img:hover img{
    transform:scale(1.2);
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .25s ease;
}
.menu_img:hover .overlay{
    width: 100%;
}
.ovrlay_text{
    color: white;
    font-size: 20px;
    font-weight: 700;
    position:absolute ;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.insta_follow{
    height: auto;
    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.363)),url("/images/photo-1490818387583-1baba5e638af.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
}
.insta_text{
    width: 100%;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px; 
    letter-spacing: 12px;
    font-weight: 300;
    color: white;
}
.follow_me_btn{
    /* left: 40%; */
    /* position: absolute; */
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: .5s;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    
}
.follow_me_btn:hover{
    background-color: white;
    color: black;
}
.reservation{

    /* background-color: rgb(255 ,255 ,135); */
    background: linear-gradient(rgba(0, 0, 0, 0.014),rgba(0, 0, 0, 0)),url("/images/photo--1baba5e638af.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.offer_title{
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    letter-spacing: 8px;
    font-weight: 300;

}
.offer_img{
    height: 333px;
    padding:5px;
    overflow:hidden;
}
.offer_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding:15px;  */
    transition: transform .5s;
}
.offer_img:hover img{
    transform: scale(1.2);
}
.overlay1{
    position: absolute;
    bottom:0;
    top: 0;  
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .25s;
    background-color: rgba(0, 0, 0, 0.445);
}
.offer_img:hover .overlay1{
    height: 100%;
 
}
.ovrlay_text1{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.contact{
    height: 50vh;
    background-color: rgb(25, 0, 39);
    padding-bottom: 30px;
    padding-top:30px;
}
footer{
    width: 100%;
    text-align: center;
    color: white;
    font-style: italic;
    position: absolute;
    /* bottom: 0; */
    
}